{% extends 'default.html' %}
{% block title %}
Responses
{% endblock title %}

{% load custom_tags %}

{% block content %}
        <h1>Отклики на ваши объявления </h1>
        <form action="" method="get">
            {{ filterset.form.as_p }}
            <input type="submit" value="Найти" />
        </form>
        <hr style="border: 2.5px solid black;">
    {% if responses %}
        <table border="1">
            <tr>
                <th>Отправитель</th>
                <th>Объявление</th>
                <th>Текст</th>
                <th>Принять</th>
                <th>Удалить</th>
            </tr>
            {% for response in responses %}
            <tr>
                <th>{{ response.sender }}</th>
                <th><a href="{% url 'announcement_detail' response.announcement.id %}">{{ response.announcement }}</a></th>
                <th>{{ response.text }}</th>
                {% if not response.acceptance %}
                    <th><a href="{% url 'accept_response' response.id %}">Принять</a></th>
                {% else %}
                    <th>Принято</th>
                {% endif %}
                <th><a href="{% url 'delete_response' response.id %}">Удалить</a></th>
            </tr>

            {% endfor %}
        </table>
    {% else %}
        <h4>Здесь пока пусто</h4>
    {% endif %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?{% url_replace page=1 %}">&laquo; первая</a>
            <a href="?{% url_replace page=page_obj.previous_page_number %}">предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?{% url_replace page=page_obj.next_page_number %}">следующая</a>
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">последняя &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock content %}
